<%- include('header') %>

<script>
  window.onload = function () {
    document.getElementsByName("cotacao")[0].value = document
      .getElementById("USD")
      .innerHTML.replace("Dólar", "")
      .replace(/:/, "");
  };
</script>

<form class="mx-auto" method="GET" action="/cotacao">
  <p
    href="https://mercadocotacao.com/dolar-hoje/"
    id="USD"
    title="Dólar"
    name="mercado_cotacao"
    disabled
  >
    Dólar
  </p>

  <br />
  <br />

  <input
    class="form-control form-control-xl mx-auto"
    type=" text"
    style="width: 70%; height: 70; font-size: 30px"
    name="cotacao"
    placeholder="Cotação dólar"
  />
  <br />
  <br />
  <input
    class="form-control form-control-xl mx-auto"
    style="width: 70%; height: 70; font-size: 30px"
    name="quantidade"
    placeholder="Quantidade dólar"
  />
  <br />
  <br />
  <button class="btn btn-primary mx-auto" style="height: 60px; font-size: 30px">
    Converter!
  </button>
  <br />
  <br />
  <br />
  <br />
  <p
    href="https://mercadocotacao.com/euro-hoje/"
    id="EUR"
    title="Euro"
    name="mercado_cotacao"
  >
    Euro
  </p>
  <script
    async
    src="https://mercadocotacao.com/money/mercadocotacao.js"
  ></script>

  <p
    href="https://mercadocotacao.com/bitcoin-hoje/"
    id="BTC"
    title="Bitcoin"
    name="mercado_cotacao"
  >
    Bitcoin
  </p>
  <script
    async
    src="https://mercadocotacao.com/money/mercadocotacao.js"
  ></script>

  <p
    href="https://mercadocotacao.com/libra-esterlina-hoje/"
    id="GBP"
    title="Libra Esterlina"
    name="mercado_cotacao"
  >
    Libra Esterlina
  </p>
  <script
    async
    src="https://mercadocotacao.com/money/mercadocotacao.js"
  ></script>
</form>

<%- include('footer') %>
